* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    background-color: black;
    background-image: url('pexels-jplenio-1103970.jpg');
    background-size: cover;
    background-position: center;
}
.header{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    padding:20px 100px;
    background: rgba(255, 255, 255, .1);
    display:flex;
    justify-content:space-between;
    align-items:center;
    z-index:10;
}
.header::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: linear-gradient(90deg, transparent, rgba(255,255,255,.4), transparent);
    transition: .5s;
}
.header:hover::before{
    left: 100%;
}
.logo{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color:ghostwhite;
    font-size:40px;
    text-shadow: 7px 4px 6px black;
    text-decoration:none;
    font-weight:600;
    cursor:default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
.navbar a {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    font-size:18px;
    text-decoration:none;
    margin-left:35px;
    transition:.3s;
    opacity: 0;
    animation: slideTop 5s ease forwards;
}
.navbar a:hover{
    color:rgb(24, 80, 165);
}


.home{
    position:relative;
    width:100%;
    justify-content:space-between;
    height:100vh;
    display: flex;
    align-items: center;
    padding: 70px 10% 0;
}
.home-content{
    max-width:600px;
}
.home-content h3{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size:32px;
    font-weight:700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    color:whitesmoke;
}
.home-content h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:66px;
    font-weight:700;
    margin:-3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}
.home-content p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:25px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;

}
.content-wrapper {
    display: flex;
    align-items: center; 
    margin-top: -400px; 
    margin-left: 750px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.5s;

}
.content-image {
    max-width: 500px; 
    height: auto; 
    border-radius: 10px; 
}
.home-link{
    margin-top:20px;
    display: inline-block;
    padding: 12px 20px;
    background: black;
    border-radius:40px;
    border: 1px solid ;
    border-color:white;
    font-size:16px;
    color:white;
    letter-spacing:1px;
    text-decoration:none;
    font-weight:600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.5s;

  
}
.home-link:hover{
    box-shadow:0 0 5px wheat,
    0 0 25px wheat, 0 0 50px wheat,
    0 0 100px wheat,0 0 200px wheat
}
.link-cont{
    display: flex;
    gap: 30px;
}
.HTML{
    margin-top:200px;
    margin-right:-8px;
    display: inline-block;
    padding: 12px 20px;
    background: orangered;
    border-radius:40px;
    font-size:16px;
    color:black;
    letter-spacing:1px;
    text-decoration:none;
    font-weight:600;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1.5s;
}
.HTML:hover{
    box-shadow:0 0 5px orangered,
    0 0 25px orangered, 0 0 50px orangered,
    0 0 100px orangered,0 0 200px orangered
}
.JS{
    margin-top:80px;
    margin-right:0px;
    display: inline-block;
    padding: 12px 20px;
    background: yellow;
    border-radius:40px;
    font-size:16px;
    color:black;
    letter-spacing:1px;
    text-decoration:none;
    font-weight:600;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1.5s;
}
.JS:hover{
    box-shadow:0 0 5px yellow,
    0 0 25px yellow, 0 0 50px yellow,
    0 0 100px yellow,0 0 200px yellow
}
.CSS{
    margin-top:200px;
    margin-right:-25px;
    display: inline-block;
    padding: 12px 20px;
    background: skyblue;
    border-radius:40px;
    font-size:16px;
    color:black;
    letter-spacing:1px;
    text-decoration:none;
    font-weight:600;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1.5s;
}
.CSS:hover{
    box-shadow:0 0 5px skyblue,
    0 0 25px skyblue, 0 0 50px skyblue,
    0 0 100px skyblue,0 0 200px skyblue
}
html {
    scroll-behavior: smooth;
}

.about {
    max-width: 800px; 
    margin: 40px auto; 
    padding: 100px; 
    background-color: black; 
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.about h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px; 
    margin-bottom: 20px; 
    color: rgb(24, 80, 165); 
    text-align: center; 
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: 1s;
}

.about p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px; 
    line-height: 1.6; 
    margin-bottom: 15px; 
    color: white; 
}
.about .home-link{
    margin-left: 220px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 1.5s;
}
@keyframes slideRight{
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideTop{
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
@keyframes slideBottom{
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}
.skills h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:50px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.skills-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}

.skill-box {
    background-color:white; 
    border: 10px solid black; 
    border-radius: 8px; 
    width: 30%; 
    padding: 20px; 
    text-align: center; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s; 
}

.skill-box:hover {
    transform: scale(1.05); 
}

.skill-image {
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
}

.skills h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px 0; 
}

.skills p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #555; 
}
.qualifications h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size:50px;
    margin-bottom: 20px;
    color:black;
    text-align: center;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.qualifications-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 20px;
}

.qualifications-box {
    background-color:black; 
    border: 10px solid white; 
    border-radius: 20px; 
    width: 30%; 
    padding: 20px; 
    text-align: center; 
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s; 
}

.qualifications-box:hover {
    transform: scale(1.05); 
}

.qualifications-image {
    width: 100%; 
    height: auto; 
    border-radius: 8px; 
}

.qualifications h2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin: 10px 0; 
}

.qualifications p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white; 
}
.contact{
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 3rem;
    padding-left: 30px;
    margin-top:130px
}
.contact-text h1{
    color:white;
    font-size: 90px;
    line-height: 1;
    text-align: center;
}
.contact-text h1 span {
    color:black;
}
.contact-text p{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:black;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 2rem;
}
.contact-form form{
    position:relative;
}
.contact-form form input, form textarea{
    border: none;
    outline: none;
    width: 90%;
    padding:10px;
    background: black;
    color:black;
    font-size: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem;
}
.contact-form textarea{
    resize:none;
    height:220px;
}
.contact-form form .send{
    display: inline-block;
    padding: 14px 28px;
    border: 1px solid ;
    border-color:white;
    background: black;
    border-radius: 40px;
    font-size: 16px;
    color:white;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    box-shadow: 0 0 5px wheat
    0 0 25px wheat;
}
.contact-form form .send:hover{
    box-shadow:0 0 5px wheat,
    0 0 25px wheat, 0 0 30px wheat
   
}
.contact {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center; 
    margin: 20px; 
}

.contact-icons {
    display: flex;
    justify-content: center; 
    margin: 20px 0; 
}

.contact-icons a {
    margin: 0 10px; 
}

.contact-icons img {
    width: 40px; 
    height: auto; 
}
.contact-icons {
    display: flex;
    justify-content: flex-start; 
    margin-top: 10px; 
}

.icon-box {
    display: flex;
    align-items: center; 
    margin: 0 10px; 
    padding: 10px; 
    border: 1px solid; 
    border-radius: 15px; 
    text-decoration: none; 
    color: black; 
    transition: background-color 0.3s, border-color 0.3s; 
}

.icon-box img {
    width: 40px; 
    height: auto; 
    margin-right: 8px; 
}

.icon-box:hover {
    background-color: black; 
    border-color: black; 
    box-shadow: 0 2px 5px skyblue;
}

